<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full text-white min-h-screen bg-zinc-900 p-20">
        <h1 class="text-3xl tracking-tighter"><%= obj.name %></h1>
        <p class="text-xl tracking-tighter mt-[20px] text-zinc-100  "><%= obj.content %></p>
        <a class="text-blue-500 mt-[20px] inline-block" href="/">HOME</a>
    </div>
</body>
</html>